/client/node_modules
/server/public/hot
/server/public/storage
/server/storage/*.key
/server/vendor
/*/.idea
/*/.vagrant
/server/Homestead.json
/server/Homestead.yaml
/client/npm-debug.log
/server/yarn-error.log
/server/.env
