/* Custom color theme properties */
:root {
  --f7-theme-color: #0A69C7;
  --f7-theme-color-rgb: 10, 105, 199;
  --f7-theme-color-shade: #0855a0;
  --f7-theme-color-tint: #0c7dee;
}

/* Your app custom styles here */