body, .page{
    background: #0052a1; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #0052a1 13%, #283d51 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #0052a1 13%,#283d51 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #0052a1 13%,#283d51 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0052a1', endColorstr='#283d51',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.newInput{
    background: #f5f5f5!important;
    padding: 10px!important;
    width: 100%!important;
    border-radius: 20px!important;
    color: #000000!important;
    border: 1px solid #e8e7e7;
  }
  .newInput:focus{
    background: #d2d2d2!important;
    color: #2962a0!important;
  }
  