<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

    <mat-toolbar class="logo">
      <img src="assets/images/logo.png" alt="Logo">
    </mat-toolbar>

    <div class="filter">
      <input placeholder="Looking for something?"
        [(ngModel)]="filter">
    </div>

    <mat-nav-list>
      <a class="menu-item"
        *ngFor="let route of getFilteredRoutes()"
        mat-list-item
        [routerLink]="route.path"
        routerLinkActive="active-route">
        {{route.label}}
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a class="menu-item"
        (click)="doLogout()"
        mat-list-item>
        Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span [innerHTML]="pageTitle || 'AnGolar' | ensure: 'html'"></span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
